#header-search {
    width: 50vw;
    height: var(--header-items-head-height);
}

#search-container {
    width: 100%;
    height: 100%;

    background-color: var(--light-base-color);
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    border-radius: var(--search-curve-width); /* how to do it in percentage? */

    transition-property: box-shadow; /* To not have transition border-radius */
}

.icon-inside-search {
    height: 100%;

    color: var(--box-color);
}
.search-icon {
    width: fit-content;
    height: 50%;
    
    margin-left: var(--search-curve-width);
}

#search-container input {
    height: 100%;
    /* font-size: var(--small-font); */

    flex-grow: 1; /* To make it grow and take available space */

    margin-left: var(--long-margin);
    background-color: transparent;
    
    outline: none;
    border: none;
}
#search-container input::placeholder {
    color: var(--box-color);
}

.search-cancle {
    width: fit-content;
    height: 50%;

    color: var(--box-color);

    margin-right: var(--search-curve-width);
}

/* ------------------------------------------------------- */

#searchblocks-container {
    display: flex;
    flex-direction: column;

    background-color: var(--bar-color);

    margin-top: 1px; /* for box-shodaw */

    z-index: 1;


}
.searchblock {
    margin-top: var(--long-margin);

    margin-left: var(--long-margin);
    margin-right: var(--long-margin);

    border-radius: var(--short-radius);
}
.searchblock:last-child {
    margin-bottom: var(--long-margin);
}

.searchblock-child {
    margin-top: var(--short-margin);
    padding: var(--short-padding);
}
.searchblock-child:last-child {
    margin-bottom: var(--long-margin);
}
/* .searchblock-child:hover {
    background-color: var(--box-color);
} */