* {
    margin: 0px;
    padding: 0px;

    font-size: var(--normal-font);

    scroll-behavior: smooth;

    /* Hide Vertical Scrollbar if any */
    /* overflow-y: auto;  */

}

.panel {
    background-color: var(--bar-color);

    height: var(--panel-height);

    margin: 0 var(--panel-margin) var(--panel-margin) var(--panel-margin);
    padding: var(--panel-padding);
    border-radius: var(--panel-radius);
/* 
    display: inline;
    float: left; */
}

.small-box {
    width: fit-content;
    margin: var(--short-margin);

    padding: 5px;
    background-color: rgb(46, 46, 46);
    
    border-radius: var(--short-radius);
}

.circle {
    height: 100%;
    aspect-ratio: 1;

    border-radius: 50%; /* 50% of height, and both border will make 100% of height, hence a circle */
}