#top-show {
    width: var(--side-panel-width);

    flex-grow: 1;

    /* margin-left: 1vw; */
    margin-right: var(--topshow-margin-right);

    position: relative; /* to absolutely position cross in respect of this container */

}

#topshow-block-cont {
    background-color: grey;
}