#feed {
    display: inline;
    float: left;

    width: var(--feed-width);
    height: var(--feed-height);

    overflow-y: auto;
    scroll-behavior: smooth;
}
#feed::-webkit-scrollbar {
    /* display: none; */
    width: var(--scroll-width);
    background: transparent;

}

.feed-block {
    background-color: var(--bar-color);

    width: var(--feed-block-width);
    /* height: var(--feed-block-height); */
    height: fit-content;

    overflow: hidden;

    margin: 0 var(--feed-block-right-margin) var(--feed-margin) 0;
    padding: var(--feed-padding); /* Width is calculated with padding involve, so commenting it'll affect design, if dont want it set it to zero from var.css */
    border-radius: var(--feed-radius) var(--feed-radius) 0 0;
    border-radius: var(--feed-radius);
}

.last-feed {
    margin: 0 var(--feed-block-right-margin) 0 0;
}

.feed-head-options-child {
    margin-left: var(--long-margin);
}

.question-bar {
    margin-top: var(--long-margin);
}
.question-bar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.question-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.question-details-child {
    background-color: var(--box-color);
}
.answers-count {
    font-size: var(--x-small-font);
}

.answers {
    background-color: var(--in-bar-color);
    margin: var(--long-margin) var(--short-margin);

    overflow: auto; /* contribute to scroll in y feature when overflooded by comments */
    width: auto;

}

.icon-and-count {
    display: flex;
    align-items: center;

    margin: var(--short-margin);
}
.icon-and-count-text {
    margin-left: var(--short-margin);
}

.interact-answers-cont {
}
.interact-answers-hr {
    margin: var(--short-margin) 0;
    /* height: 1px; */

    background-color: var(--box-color);
}
.interact-answers {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    width: 100%;
}
.interact-answers-child {
    flex: 1;

    display: flex;
    justify-content: center;
}

.comment-cont {
    padding: var(--short-padding);

    width: fit-content; /* contribute to scroll in y feature when overflooded by comments */
}

.user-answer {
    width: 100%;
}

.feed-more {
    background-color: var(--box-color);
    width: 100%;
    height: 3vh;
}
.feed-more p {
    margin: auto;
    text-align: center;
    line-height: 3vh;
}