:root{
    /* Colors */
    --title-color: #2097db;
    /* --bar-color: #ffffff; */
    --bar-color: grey;
    --base-color: #f0ede9 ; 


    /* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


    --short-margin: 5px;
    --long-margin: calc(var(--short-margin)*2);
    --short-padding: 5px;
    --short-radius: 5px;
    --long-panel-radius: 10px;
    --scroll-width: 5px;


    --transition-midium: 0.3s;
    --transition-style: ease-out;


    /* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    
    
    /* Header */
    --header-margin: 1vh;
    --header-padding: 10px;
    --header-radius: var(--long-panel-radius);
    
    --header-height: 7vh;
    --header-width: calc( 100vw - var(--header-margin)*2 - var(--header-padding)*2 );
    
    --header-items-head-margin: calc( var(--header-height)/10 );
    
    --header-items-head-height: calc( var(--header-height) - (var(--header-items-head-margin)*2) - var(--line-height) );
    

    /* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    
    
    /* Panels */
    --panel-margin: 1vh;
    --panel-padding: 10px;
    --panel-radius: 10px;
    
    --panel-height: calc( 100vh - var(--header-height) - (var(--header-margin)*2) - (var(--panel-margin)*1) - (var(--panel-padding)*2) ); /* reducing margin and padding in refference to where they inicialise in their personal css */
    
    
    /* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


    /* Side Panel */
    --acctual-side-panel-width: 25vw;

    --side-panel-width: calc( var(--acctual-side-panel-width) - var(--panel-margin)*2 - (var(--panel-padding)*2) );
    

    /* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    
    
    /* Feed */
    --feed-margin: 1vh;
    --feed-padding: 10px;
    --feed-radius: 10px;

    --feed-block-right-margin: 0.5vh;

    --feed-height: calc( 100vh - var(--header-height) - (var(--header-margin)*2) - (var(--feed-margin)*1));
    --feed-width: calc( 100vw - (var(--acctual-side-panel-width)*2) );

    --feed-block-height: calc( 30vh - (var(--feed-margin)*2) - (var(--feed-padding)*2) );
    --feed-block-width: calc( 100% - (var(--feed-padding)*2) - var(--feed-block-right-margin) );
    

    /* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


    /* Changer */
    --changer-radius: var(--long-panel-radius);

    --changer-container-width: calc( var(--feed-width) - var(--feed-block-right-margin) - var(--scroll-width) );
    
    --changer-height: 7vh;
    --redu-width: 75;
    --changer-width: calc( (var(--redu-width)/100) * var(--feed-width) );

    --changer-bottom-gap: 10px;
    --changer-left-push: calc( (var(--feed-width) - var(--changer-width)) / 2 );
    /* --changer-left-gap: calc( var(--acctual-side-panel-width) + var(--changer-left-push) ); */
    --changer-left-gap: calc( var(--acctual-side-panel-width) );

    --changer-blocks-margin-x: 3px;
    --changer-blocks-margin-y: 10px;
    --changer-blocks-padding-x: 0px;
    --changer-blocks-padding-y: 10px;
    --changer-blocks-radius: var(--long-panel-radius);
    
    --changer-blocks-height: calc( var(--changer-height) - var(--changer-blocks-margin-x)*2 - var(--changer-blocks-padding-x)*2 );

    --changer-blocks-width: calc( (var(--changer-blocks-height)) - (var(--changer-blocks-padding-y)*2) ); /* No margin reduced because it's outside the width of box, although part of box but unseen part */
    --changer-block-size-multiplier: 3;
    --changer-blocks-hover-width: calc( var(--changer-blocks-height) * var(--changer-block-size-multiplier) );


    /* Ratio Design */
    /* Finding Changer Blocks Width */
        /* Inicilising Variables */
        /* --n: 3; */
        /* --m: 20px; */
        /* --twm: calc( var(--changer-width) - ( (var(--n) + 1) * var(--m) ) ); */

        /* --t: 10; to vary */
        /* --big: 5; to vary */
        /* --small: calc( var(--t) - var(--big) ); */
        /* --small-per-unit: calc( var(--small) / (var(--n) - 1) ); */

        /* Setting main width */
        /* --small-w: calc((var(--small-per-unit) / var(--t)) * var(--twm)); */
        /* --big-w: calc((var(--big) / var(--t)) * var(--twm)); */

    /* --changer-blocks-width: calc( var(--small-w) - (var(--changer-blocks-margin-y)*2) - (var(--changer-blocks-padding)*2) ); */
    /* --changer-blocks-hover-width: var(--big-w); */


    /* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

    /* Auth */
    --auth-cont-height: 100vh;
    --auth-width: 25%;
    /* --auth-height: fit- content; */
    --auth-persumed-height: 40vh;

    --auth-m-top: calc( var(--auth-cont-height) - (var(--auth-cont-height) / 2) - (var(--auth-persumed-height) / 2) );

    --auth-border-radius: 15px;

    --auth-input-cont-width: 60%;
    --auth-input-cont-half-gap: 4%;
    --auth-input-cont-left: calc( (100% - var(--auth-input-cont-width)) / 2 );
    --auth-input-cont-margin-y: 3.5vh;

    --auth-input-height: 3vh;
    --auth-input-width: 100%;
    --auth-input-margin-y: 0vh;

    --auth-input-icon-width: 1.5vw;
    --auth-input-icon-left: calc( var(--auth-input-width) - var(--auth-input-icon-width) );

    --auth-input-cont-height: calc( var(--auth-input-height) + (var(--auth-input-margin-y)*2) );


    /* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


    /* Line */
    --line-height: 0.5vh;


    /* Button */
    --btn-height: 2.5vw;
}