:root{
    /* Colors */
    --title-color: #2097db;
    /* --bar-color: #ffffff; */
    --bar-color: grey;
    --base-color: #f0ede9 ; 


    /* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


    --long-panel-radius: 10px;
    --scroll-width: 5px;


    /* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    
    
    /* Header */
    --header-margin: 1vh;
    --header-padding: 10px;
    --header-radius: var(--long-panel-radius);
    
    --header-height: 7vh;
    --header-width: calc( 100vw - var(--header-margin)*2 - var(--header-padding)*2 );
    
    --header-items-head-margin: calc( var(--header-height)/10 );
    
    --header-items-head-height: calc( var(--header-height) - (var(--header-items-head-margin)*2) - var(--line-height) );
    

    /* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    
    
    /* Panels */
    --panel-margin: 1vh;
    --panel-padding: 10px;
    --panel-radius: 10px;
    
    --panel-height: calc( 100vh - var(--header-height) - (var(--header-margin)*2) - (var(--panel-margin)*1) - (var(--panel-padding)*2) ); /* reducing margin and padding in refference to where they inicialise in their personal css */
    
    
    /* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


    /* Side Panel */
    --acctual-side-panel-width: 25vw;

    --side-panel-width: calc( var(--acctual-side-panel-width) - var(--panel-margin)*2 - (var(--panel-padding)*2) );
    

    /* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    
    
    /* Feed */
    --feed-margin: 1vh;
    --feed-padding: 10px;
    --feed-radius: 10px;

    --feed-block-right-margin: 0.5vh;

    --feed-height: calc( 100vh - var(--header-height) - (var(--header-margin)*2) - (var(--feed-margin)*1));
    --feed-width: calc( 100vw - (var(--acctual-side-panel-width)*2) );

    --feed-block-height: calc( 30vh - (var(--feed-margin)*2) - (var(--feed-padding)*2) );
    --feed-block-width: calc( 100% - (var(--feed-padding)*2) - var(--feed-block-right-margin) );
    

    /* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


    /* Changer */
    --changer-radius: var(--long-panel-radius);

    --changer-container-width: calc( var(--feed-width) - var(--feed-block-right-margin) - var(--scroll-width) );
    
    --changer-height: 7vh;
    --redu-width: 75;
    --changer-width: calc( (var(--redu-width)/100) * var(--feed-width) );

    --changer-bottom-gap: 10px;
    --changer-left-push: calc( (var(--feed-width) - var(--changer-width)) / 2 );
    /* --changer-left-gap: calc( var(--acctual-side-panel-width) + var(--changer-left-push) ); */
    --changer-left-gap: calc( var(--acctual-side-panel-width) );

    --changer-blocks-margin-x: 3px;
    --changer-blocks-margin-y: 10px;
    --changer-blocks-padding: 10px;
    --changer-blocks-radius: var(--long-panel-radius);
    
    /* --changer-blocks-width: calc( (var(--changer-container-width) / 3) - (var(--changer-blocks-margin-y)*2) - (var(--changer-blocks-padding)*2) ); */
    --changer-blocks-height: calc( var(--changer-height) - var(--changer-blocks-margin-x)*2 );

    /* Finding Changer Blocks Width */
        /* Inicilising Variables */
        --n: 3;
        --m: 10px;
        --twm: calc( var(--changer-container-width) - ( (var(--n) + 1) * var(--m) ) );

        --t: 6; /* to vary */
        --big: 4; /* to vary */
        --small: calc( var(--t) - var(--big) );
        --small-per-unit: calc( var(--small) / (var(--n) - 1) );

        /* Setting main width */
        --small-w: calc((var(--small-per-unit) / var(--t)) * var(--twm));
        --big-w: calc((var(--big) / var(--t)) * var(--twm));

    --changer-blocks-width: var(--small-w);
    --changer-blocks-hover-width: var(--big-w);


    /* --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


    /* Line */
    --line-height: 0.5vh;


    /* Button */
    --btn-height: 2.5vw;
}