.comment-cont {
    background-color: var(--in-bar-color);
    padding: var(--short-padding);
}
.comment-content {
    padding-left: var(--comment-padding);
}

.comment p {
    text-align: justify;
}

.interact-comment {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: fit-content;

    margin-top: var(--short-margin);
}
.interact-comment-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
       
    margin-right: calc(var(--short-margin)*5);
}

.interact-comment-child left {
    margin-right: var(--short-margin);
}
/* 
.space {
    margin: 0 calc(var(--short-margin));
} */